<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification</title>
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">


</head>
<body>
<!-- Main Content Area -->
<div class="main-content">
    <div class="container mt-4">
        <!-- Header Section -->
        <h1 class="text-center">Image Classification</h1>

        <!-- Main Classification Section -->
        <div class="text-center mt-5">
            <!-- Video Feed -->
            <video id="video" width="640" height="480" autoplay class="border rounded shadow-sm mb-2"></video>
            <canvas id="canvas" style="display: none;"></canvas>

            <!-- Loader (Hidden by default) -->
            <div id="loader" class="loader" style="display: none;"></div>

            <!-- Capture Button -->
            <div class="text-center">
                <button id="capture" class="btn btn-primary mt-2">Capture Photo</button>
            </div>

            <!-- Prediction Results -->
            <div id="result" class="mt-4">
                <p id="prediction"></p>
                <p id="confidence"></p>
                <img id="captured-image">
            </div>
        </div>
    </div>
</div>



     <script src="../static/js/main.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
